{% extends 'base.html.twig' %}

{% block title %}Home - My Symfony App{% endblock %}

{% block content %}
    <h1>User Manager</h1>
    <button onclick="window.location.href='/users'">Users</button>
{% endblock %}
